<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmer guider app</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Farmer Guider App</h1>
        <a href="{{ url_for('crop_recommendation') }}">
    <button>Predict Crop</button>
</a>

<a href="{{ url_for('fertilizer_recommendation') }}">
    <button>Predict Fertilizer</button>
</a>
    </div>
</body>
</html>